/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --orange-pimary: rgba(244, 105, 76, 1);
  --orange-light: rgba(244, 105, 76, 0.2);
  --white: rgba(255, 255, 255, 1);
  --white-light: rgba(255, 255, 255, 0.6);
  --black: rgba(18, 18, 18, 1);
  --black-light: rgba(18, 18, 18, 0.4);

  /* *max-width */

  --max-width: 1150px;
}

body {
  font-family: "Poppins", serif;
}

/* ! Generic classes */

@font-face {
  font-family: "Slovic";
  src: url("../Assets/font/Slovic_Demo-Serif.ttf");
}

.heading {
  font: normal 700 40px/177.5% "Slovic", Serif;
  /* line-height: 58px; */
  letter-spacing: 0.06em;
  text-transform: none;
}

.semi-bold-big {
  font: normal 600 34px/177% "Slovic", Serif;
  letter-spacing: 0.02em;
}

.semi-bold-small {
  font: normal 600 14px/145% "Poppins", Serif;
  letter-spacing: -0.035em;
}

.medium {
  font: normal 500 20px/145.5% "Poppins", Serif;
  letter-spacing: -0.005em;
}

.regular {
  font: normal 400 11.5px/197.5% "Poppins", Serif;
  letter-spacing: -0.005em;
}

.btn {
  padding: 0.75rem 1rem;
  border: none;
  list-style-type: none;
  color: var(--white);
  background: none;
}

.btn-hero {
  padding: 0.75rem 1.875rem;
  border: none;
  list-style-type: none;
  color: var(--white);
  background: none;
}

.btn-primary {
  background-color: var(--orange-pimary);
}

.btn-ghost {
  padding: 0.75rem 1.775rem;
  outline: 1.5px solid var(--white);
  background: none;
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-white-light {
  color: var(--white-light);
}

.text-black-light {
  color: var(--black-light);
}

.text-orange {
  color: var(--orange-pimary);
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.text-col {
  gap: 1.5rem;
  justify-content: space-between;
  align-items: flex-start;
}

/* ! Hero section */

.hero {
  background: url("../Assets/Photos/futuristic-bg.png") no-repeat center
    rgba(18, 18, 18, 0.4);
  background-blend-mode: overlay;

  background-size: cover;
}

/* ! navbar section */

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;

  justify-content: space-between;
  align-items: center;
}

.nav-items {
  padding: 0 6rem;
  flex: 1 0 auto;
  gap: 2rem;

  justify-content: start;
}

a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.buttons {
  gap: 2rem;
}

/* ! titte section */

.tittle {
  max-width: var(--max-width);
  margin: auto;
  padding: 6rem 2rem;
}

.tittle-left {
  width: 50%;
  gap: 1rem;
  justify-content: space-between;
}

.tittle .tittle-left > p {
  padding-right: 7rem;
}

.tittle-left > .buttons {
  padding: 2rem 0;
}

.tittle-right {
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 5rem;
}

.icon {
  flex: 1 0 auto;
  align-items: center;
}

.tittle-right > p {
  width: 55%;
  padding: 0 1rem;
}

.tittle-right > p::before {
  content: url("../Assets/Icons/dash.svg");
  display: block;
  position: relative;
  left: -60px;
  top: 23px;
}

.tittle-right > p::after {
  content: url("../Assets/Icons/rightArrow.svg");
  display: block;
  position: relative;
  right: -200px;
  top: -20px;
}

/* ? responsive */

@media (max-width: 950px) {
  .nav-items {
    display: none;
  }

  .tittle {
    padding: 4rem 2rem;
  }

  .tittle .tittle-left {
    width: 60%;
  }

  .tittle .tittle-right {
    width: 40%;
    position: relative;
    align-items: flex-start;
  }

  .tittle .tittle-right > p {
    width: 70%;
    position: absolute;
    bottom: 1px;
    left: 10px;
  }
}

/* ? mobile */

@media (max-width: 600px) {
  nav > .buttons {
    display: none;
  }

  .tittle {
    flex-flow: column-reverse;
    width: 100%;
  }

  .tittle > .tittle-left {
    width: 100%;
  }

  .tittle > .tittle-left h1 {
    font: normal 600 28px/177% "Slovic", Serif;
    letter-spacing: 0.02em;
  }

  .tittle > .tittle-left > p {
    padding: 0;
  }

  .tittle > .tittle-right {
    padding: 0;
    width: 100%;
    height: 20rem;
    align-items: center;
    justify-content: center;
  }

  .tittle .tittle-right > p {
    display: none;
  }
}

/* ! MVP Sections */

.MVP {
  max-width: var(--max-width);
  margin: auto;

  padding: 7rem 2rem;
  /* align-items: center; */

  gap: 3rem;
}

.MVP > h1 {
  width: 70%;
  text-align: center;
  margin: auto;
}

.cards {
  gap: 1rem;
  justify-content: space-between;
  flex-flow: wrap;
}

.card-items {
  width: 250px;
  overflow: hidden;
  height: 288px;

  justify-content: end;

  position: relative;
}

.card-items > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-items-details {
  width: 100%;
  position: absolute;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(50px);
}

.card-items-details > div {
  gap: 0.5rem;
}

.card-items-details > .btn {
  padding: 10px;
}

/* MVP popular section */

.MVP > .game-display {
  padding: 5rem 0;
}

.game-display {
  justify-content: space-between;
}

.game-display p {
  padding-right: 2rem;
}

.image {
  width: 45%;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-display .btn-ghost {
  color: var(--orange-pimary);
  border: 1.5px solid var(--orange-pimary);
}

/* ? recommendation section */

.recommendation {
  justify-content: space-between;
  align-items: center;

  flex-flow: wrap;
}

.recommendation > h1 {
  width: 40%;
}

.recommendation > div > .btn-hero {
  padding: 2rem;
}

.recommendation > div > .btn-hero:nth-child(1) {
  background: var(--orange-light);
}

.recmmended-game {
  gap: 1rem;
  justify-content: space-between;
}

.recmmended-game .game-display {
  width: 45%;
}

/* ? responsive seciton */

@media (max-width: 800px) {
  .MVP > .cards {
    justify-content: space-around;
  }

  /* ? recommendation text */

  .recommendation > h1 {
    width: 80%;
  }
  .recommendation > .buttons {
    display: none;
  }

  /* ? recommended-game section */

  .MVP > .recmmended-game {
    width: 90%;
    flex-flow: column;
  }

  .MVP > .recmmended-game > .game-display {
    width: 100%;
  }
}

/* ? mobile */

@media (max-width: 600px) {
  .MVP {
    padding: 3rem 2rem;
  }

  .MVP > h1 {
    font: normal 600 24px/177% "Slovic", Serif;
    letter-spacing: 0.02em;
    width: 100%;
  }

  .game-display {
    flex-flow: column;
    width: 100%;
  }

  .game-display > .image {
    width: 100%;
  }

  .recmmended-game > .game-display {
    width: 80%;
  }

  .recmmended-game > .game-display > .image {
    width: 70%;
  }

  .game-display > .tittle-left {
    width: 100%;
  }

  .MVP > .game-display > .tittle-left > h1 {
    font: normal 600 24px/177% "Slovic", Serif;
    letter-spacing: 0.02em;
  }

  .recommendation > h1 {
    font: normal 600 24px/177% "Slovic", Serif;
    letter-spacing: 0.02em;
    width: 100%;
  }
}

/* ! most playes game of the year */

.most-played {
  background-color: rgb(0, 0, 0);
}

.game-of-year {
  max-width: var(--max-width);
  margin: auto;
  padding: 7rem 2rem 3rem;

  gap: 3rem;

  overflow: hidden;
}

.game-of-year > h1 {
  text-align: center;
}

.game-of-year > .game-display {
  position: relative;
  z-index: 1;
}

.game-of-year > .game-display > .image {
  width: 40%;
  height: 80%;
}

.game-of-year .tittle-left {
  width: 55%;
  justify-content: space-around;
}

.image-display {
  justify-content: space-between;
  margin-bottom: -8rem;
}

.image-display > img {
  width: 45%;
}

.image-display > img:nth-child(2) {
  height: 70%;
  align-self: flex-end;
}

.stroke-text {
  font-size: 115px;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 var(--white-light), 1px -1px 0 var(--white-light),
    -1px 1px 0 #000, 1px 1px 0 var(--white-light);

  filter: opacity(0.2);

  width: 100%;
  position: absolute;
  top: 15%;
  bottom: 85%;
  right: -40%;
  z-index: -1;
}

/* ! Get started sectino */

.gamer {
  background: url("../Assets/Photos/Rectangle\ 606.png") no-repeat center
    rgba(18, 18, 18, 0.8);
  background-size: cover;
  background-blend-mode: overlay;

  padding: 5rem 0;
  margin: 7rem 0 0;

  align-items: center;
}

.gamer > .tittle-left {
  width: 60%;
  text-align: center;
  align-items: center;
}

.gamer > .tittle-left > p {
  padding: 1rem 4rem;
}

/* ? respoinsive */

@media (max-width: 800px) {
  .gamer {
    padding: 1rem 2rem;
  }

  .gamer > .tittle-left {
    width: 80%;
  }
}

/* ? mobile */

@media (max-width: 600px) {
  .game-of-year {
    padding: 3rem 2rem;
  }

  .game-of-year > h1 {
    font: normal 600 24px/177% "Slovic", Serif;
    letter-spacing: 0.02em;
    width: 100%;
  }

  .game-of-year > .game-display > .image {
    width: 100%;
    height: 100%;
  }

  .game-of-year > .game-display > .tittle-left {
    width: 100%;
    padding: 2rem 0;
  }

  .game-of-year > .game-display > .tittle-left > p,
  .game-of-year > .game-display > .tittle-left > .buttons {
    width: 100%;
    padding: 0;
  }

  .gamer > .tittle-left {
    padding: 2rem 0;
    width: 100%;
  }

  .gamer > .tittle-left > h1 {
    font: normal 600 24px/177% "Slovic", Serif;
    letter-spacing: 0.02em;
    width: 100%;
  }

  .gamer > .tittle-left > p {
    padding: 0;
  }

  .stroke-text {
    display: none;
  }
}

/* ! footer section */

footer {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 2rem;

  justify-content: space-between;
  gap: 2rem;
  flex-flow: wrap;
}

.promo {
  gap: 1rem;
  width: 20%;
}

footer img[alt="logo"] {
  height: 2rem;
  align-self: flex-start;
}

footer ul {
  gap: 1rem;
  width: fit-content;
}

footer li {
  list-style-type: none;
}

@media (max-width: 600px) {
  footer .promo ~ div {
    display: none;
  }

  .promo {
    width: 100%;
  }
}
