/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* * variable declareing for the projects */

:root {
  /* ? text variable */

  --faded-mega-text: normal 600 100px/153.4% "Poppins", Arial;
  --faded-small-text: normal 400 60px/153.4% "Poppins", Arial;
  --heading: normal 600 50px/153.9% "Poppins", Arial;
  /* letter-spacing: 0.01em; */
  --sub-heading: normal 500 20px/153.9% "Poppins", Arial;
  /* letter-spacing: -0.03em; */
  --sub-heading-small: normal 600 16px/183.4% "Poppins", Arial;
  /* letter-spacing: -0.06em; */
  --body: normal 400 15px/183.4% "Poppins", Arial;
  /* letter-spacing: -0.04em; */

  /* ? color variable */

  --black-body: rgba(15, 15, 16, 1);
  --black-light: rgba(30, 30, 33, 1);
  --white-bright: rgba(255, 255, 255, 1);
  --white-light: rgba(255, 255, 255, 0.6);

  /* text-background */
  --gradient-background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.29),
    rgba(33, 31, 31, 0.8) 86.5%
  );

  /* ? spacing variable */

  --gap-small: 2rem;
  --gap-big: 4rem;
  --gap-xsmall: 1rem;
  --max-width: 990px;
}

/* ! generic classes */

/* ? background text */

.background-big-text {
  background: var(--gradient-background);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font: var(--faded-mega-text);
}

.background-small-text {
  font: var(--faded-small-text);
  background: var(--gradient-background);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.background-circle {
  background: rgba(202, 245, 255, 0.08);
  filter: blur(72px);
}

/* ? btn classes */

.btn-large {
  border: none;
  list-style-type: none;

  background-color: var(--black-light);
  padding: 0.8em 3rem;
  border-radius: 8px;
}

.btn-small {
  border: none;
  list-style-type: none;

  background-color: var(--black-light);
  padding: 0.5em 1.5em;
  border-radius: 4px;
}

/* ? flex and text classes */

.heading {
  font: var(--heading);
  letter-spacing: 0.01em;
}

.sub-heading {
  font: var(--sub-heading);
  /* letter-spacing: -0.03em; */
}

.sub-heading-small {
  font: var(--sub-heading-small);
  /* letter-spacing: -0.06em; */
}

.text-body {
  font: var(--body);
  /* letter-spacing: -0.04em; */
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.flex-row {
  display: flex;
  flex-flow: row;
}

/* ? text color variable */

.text-white {
  color: var(--white-bright);
}

.text-white-light {
  color: var(--white-light);
}

/* ! body design */

body {
  background-color: var(--black-body);
}

/* ! header and navbar */

header {
  width: 100%;
}

nav {
  max-width: var(--max-width);
  padding: var(--gap-small) var(--gap-small);
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: var(--gap-small);
}

nav > ul {
  gap: var(--gap-small);
  flex: 1 1 auto;
  justify-content: flex-end;
  padding: 0 var(--gap-big);
  list-style-type: none;
}

/* ! hero section */

.hero {
  width: var(--max-width);
  margin: auto;
  justify-content: flex-end;
  padding: calc(var(--gap-big) + var(--gap-small)) var(--gap-small);
  position: relative;
}

.right {
  position: absolute;
  left: var(--gap-small);
  top: -16rem;
}

.left {
  width: 60%;
  align-items: flex-start;
  gap: var(--gap-small);
  padding-inline-start: 1rem;
}

.left > div {
  gap: var(--gap-xsmall);
  align-items: center;
}

.left > p {
  padding-inline-end: 10em;
}

.background-big-text {
  position: absolute;
  top: -0.35em;
  right: 2em;
}

/* ! banner section */

.banner {
  max-width: var(--max-width);
  margin: auto;
  padding-block: calc(var(--gap-big) + var(--gap-small));

  gap: var(--gap-small);
  justify-content: space-around;
}

/* ! specs section */

.specs-discreption {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--gap-small);

  gap: var(--gap-small);
  align-items: center;
}

.specs {
  width: 100%;
  justify-content: center;
  gap: var(--gap-big);
  position: relative;
}

.specs-info {
  gap: var(--gap-small);
}

.specs-info img {
  height: 1.5rem;
  width: 1rem;
}

.specs-info div[tabindex="9"],
.specs-info div[tabindex="12"] {
  padding-inline-start: var(--gap-small);
  width: 70%;
}

.specs-image {
  justify-content: center;
}

.specs-image > .background-circle {
  display: none;
  width: 347px;
  height: 347px;
  border-radius: 100%;

  position: absolute;
  left: 50%;
  right: 50%;
}

.specs-image:is(:hover) .background-circle {
  display: block;
  z-index: -1;
  animation: circle 300ms;
  /* transition: ease-in-out 500ms; */
}

@keyframes circle {
  0% {
    width: 0px;
    height: 0px;

    margin: auto;
  }

  /* 50% {
    width: 200px;
    height: 200px;
  } */

  100% {
    width: 347px;
    height: 347px;
  }
}

/* ! case */

.case {
  justify-content: center;
  align-items: center;
  gap: var(--gap-big);

  padding-block: var(--gap-big);
}

.case-info {
  gap: var(--gap-big);
  justify-content: center;
  align-items: center;
}

.case-text {
  width: 25.5%;
  gap: var(--gap-small);
  align-items: flex-start;
}

.case-text > .btn-small {
  align-items: center;
  gap: var(--gap-xsmall);
}

.case-text > .btn-small > img {
  height: 1.5rem;
  width: 1.5rem;
}

/* ! buy now section */

.buy-now {
  max-width: var(--max-width);
  justify-content: space-evenly;
  background-color: var(--black-light);
  align-items: center;
  width: 100%;
  /* padding-block: calc(var(--gap-small) + var(--gap-xsmall)); */
  padding-block: var(--gap-small);
  border-radius: 10px;

  margin-block: var(--gap-small);

  /* filter: drop-shadow(5px 5px 10px #000); */
}

.buy-now-text {
  align-items: flex-start;
  width: 30%;
  gap: var(--gap-xsmall);
}

.buy-now-text > h1 {
  font-size: 24px;
}

.buy-now-text > .btn-small {
  background-color: var(--black-body);
  gap: var(--gap-xsmall);
  align-items: center;
}

.buy-now-text > .btn-small > img {
  display: inline-block;
}

/* ! style section */

.big-text {
  text-align: center;
}

.big-text h1 ~ h1 {
  margin-top: -2.4rem;
}

.style {
  margin-block: var(--gap-big);
  align-items: center;
  gap: calc(var(--gap-big) + var(--gap-small));
}

.cards {
  flex-flow: wrap;
  width: 80%;
  gap: calc(var(--gap-big) + var(--gap-small)) var(--gap-big);
}

.card-items {
  width: fit-content;
  background-color: var(--black-light);
  padding-inline: 1em;
  width: 190px;
  align-items: center;
  border-radius: 6px;

  filter: drop-shadow(5px 5px 10px #000);
}

.card-items > img {
  position: relative;
  top: -2rem;
  left: auto;
  right: auto;
  width: 7.5rem;
  height: 9rem;

  transition: 250ms;
}

.card-items > img:hover {
  scale: 115%;
  filter: drop-shadow(5px 5px 20px var(--black-body));
  transition: ease-in-out 500ms;
}

.card-items > .flex-row {
  gap: var(--gap-xsmall);
  justify-content: space-between;
  align-items: center;
  padding-block: 0.7rem;
}

.card-items .btn-small {
  padding: 0.5rem;
  background-color: var(--black-body);
}

/* ! footer section */

footer {
  max-width: var(--max-width);
  padding-block: var(--gap-big);
  margin-inline: auto;
  justify-content: space-between;
  align-items: flex-start;
}

ul {
  list-style-type: none;
}

li:first-child {
  font: var(--sub-heading);
  color: var(--white-bright);
  padding-block-end: var(--gap-xsmall);
}

.social-links {
  gap: var(--gap-small);
}

.social-links input {
  background-color: inherit;
  list-style-type: none;
  border: none;
}

.social-links input:focus {
  background-color: inherit;
  /* list-style-type: none; */
  border: none;
  outline: none;
  color: var(--white-bright);
}

.social-links > .btn-small > .btn-small {
  background-color: var(--black-body);
  gap: var(--gap-xsmall);
}

.social-links > .flex-row ~ .flex-row {
  gap: var(--gap-xsmall);
}
